<nav class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="topnav as vm">
    <div class="navbar-header">
        <div class="menu active" ng-href='#here' ng-click="toggleDrawer()">
            <div>
                <span class="burger-line bread top"></span>
                <span class="burger-line meat"></span>
                <span class="burger-line bread bottom"></span>
            </div>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">

            </ul>
        </div>
    </div>
</nav>